.example-spacer {
    flex: 1 1 auto;
  }

button{
    color: #121212;
} 

span, .share, button{
    margin-left: 1rem;
}

mat-toolbar{
    background-color:  #121212;
}

.title{
    color: whitesmoke;
}

button:hover{
    cursor: pointer;
}