.example-spacer {
    flex: 1 1 auto;
}

button {
    color: #24262b;
}

span,
.share,
button {
    margin-left: 1rem;
}

mat-toolbar {
    background-color: #24262b;
}

.title {
    color: whitesmoke;
}

button:hover {
    cursor: pointer;
}

share-buttons {
    background-color: #24262b;
    width: 25vw;
}