<mat-toolbar>
  <span class="title">Shopping List</span>
  <a routerLink="/create">
    <button class="example-icon add-icon add" aria-label="Example icon-button with heart icon">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home">library_add</mat-icon>
    </button>
  </a>
  <span class="example-spacer"></span>

  <a routerLink="/clothes">
    <button class="example-icon home-icon home" aria-label="Example icon-button with heart icon">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home">home</mat-icon>
    </button>
  </a>

  <button (click)="openSuccessDialog()" class="example-icon favorite-icon heart"
    aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button (click)="openShareDialog()" class="example-icon share" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>

  <ng-template #successDialogTemplate>
    <div>Página adicionada aos favoritos!</div>
  </ng-template>

  <ng-template #shareDialogTemplate >
    <share-buttons theme="modern-dark"
    [include]="['copy', 'facebook', 'email', 'messenger', 'linkedin',  'print', 'reddit', 'telegram', 'twitter', 'whatsapp']"
    [showIcon]="true"
    [showText]="true"
    url="https://www.linkedin.com/in/leonardo-almeida-187588148/"
    class="pt-5">
  </share-buttons>
  </ng-template>
</mat-toolbar>