<mat-toolbar>
  <span class="title">Shopping List</span>
  <a routerLink="/create">
    <button class="example-icon add-icon add" aria-label="Example icon-button with heart icon">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home">library_add</mat-icon>
    </button>
  </a>
  <span class="example-spacer"></span>

  <a routerLink="/clothes">
    <button class="example-icon home-icon home" aria-label="Example icon-button with heart icon">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home">home</mat-icon>
    </button>
  </a>

  <button (click)="openSuccessDialog()" class="example-icon favorite-icon heart"
    aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button (click)="openShareDialog()" class="example-icon share" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>

  <ng-template #successDialogTemplate>
    <div>Page has been added to favorites!</div>
  </ng-template>

</mat-toolbar>