<mat-expansion-panel hideToggle *ngIf="item">
    <mat-expansion-panel-header>
        <mat-panel-title>
            {{item.type}}
        </mat-panel-title>
        <mat-panel-description>
            see more details
        </mat-panel-description>
    </mat-expansion-panel-header>
    <div>
        <ul>
            <li>Item: {{item.type}}</li>
            <li>Size: {{item.size}}</li>
            <li>Color: {{item.color}}</li>
            <li>Gender: {{item.gender}}</li>
            <li>Amount: {{item.amount}}</li>
        </ul>
        <button class="example-icon delete" aria-label="Example icon-button with delete icon">
            <mat-icon (click)="openConfirmDialog()" class="example-icon" aria-hidden="false"
                aria-label="Example delete icon">delete</mat-icon>
        </button>
        <a routerLink="/edit/{{item.id}}">
            <button class="example-icon edit" aria-label="Example icon-button with edit icon">
                <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">edit</mat-icon>
            </button>
        </a>
    </div>

    <ng-template #confirmDialogTemplate>
        <div>Are you sure you want to delete this item?</div>
        <div class="buttons">
            <button mat-raised-button mat-dialog-close class="no btn">No</button>
            <button mat-raised-button mat-dialog-close (click)="deleteItem(item)" class="yes btn">Yes</button>
        </div>
    </ng-template>
    
    <ng-template #successDialogTemplate>
     <div>Item successfully deleted!</div>
    </ng-template>
</mat-expansion-panel>