.mat-mdc-form-field+.mat-mdc-form-field {
  margin-left: 8px;
}

mat-expansion-panel,
mat-panel-title,
mat-panel-description {
  background-color: #24262b;
  color: whitesmoke;
  width: 40vw;
}

mat-expansion-panel{
  margin-top: 5px;
}

.edit {
  margin-left: 0.8em;
}

button:hover{
  cursor: pointer;
}

button{
  color: #24262b;
}

.buttons{
  display: flex;
  justify-content:center;
  margin-top: 10px;
}

.yes{
  margin-left: 20px;
}

.btn{
  padding: 0px 15px;
}
