<form class="task-form" (ngSubmit)="submit()" [formGroup]="clothingForm" #formDir="ngForm">
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Tipo</mat-label>
    <input matInput formControlName="tipo" placeholder="Informe o tipo">
  </mat-form-field>

  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Tamanho</mat-label>
    <input matInput formControlName="tamanho" placeholder="Informe o tamanho">
  </mat-form-field>

  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Cor</mat-label>
    <input matInput formControlName="cor" placeholder="Informe a cor">
  </mat-form-field>

  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Gênero</mat-label>
    <input matInput formControlName="genero" placeholder="Informe o gênero">
  </mat-form-field>

  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Quantidade</mat-label>
    <input matInput formControlName="quantidade" placeholder="Informe a quantidade">
  </mat-form-field>
  <button mat-raised-button class="sbmt" type="submit" value="">{{ botaoText }}</button>
</form>